<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet"/>
   
    <style>

body{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.signupcontainer {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}


form.sign {
    margin-top: 10px;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}


input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #218838;
}


a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

    </style>
</head>
<body>
    <div class="signupcontainer">

        <form method="post" action="/signupuser"  class="sign">
            <h2 align="center">signup page</h2>
            <table  align="center">
                <tr>
                    <td>user name:</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>email:</td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td>password:</td>
                    <td><input type="text" name="password"/></td>
                </tr>
                <tr>
                    <td>confirm password:</td>
                    <td><input type="text" name="confirmpassword"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="signup"/>
                   
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>